absl-py==1.0.0
altair==4.2.0
appdirs==1.4.4
argh==0.26.2
asgiref==3.5.2
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
autograd==1.4
autograd-gamma==0.5.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
blinker==1.4
boto==2.49.0
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.2.0
category-encoders==2.4.1
certifi==2021.10.8
click==8.0.3
commonmark==0.9.1
comtypes==1.1.10
conda<4.10.3
conda-build==3.21.6
conda-verify==3.4.2
cycler==0.10.0
Cython==0.29.28
cytoolz==0.11.0
daal4py==2021.3.0
dash==2.6.2
dash-bootstrap-components==1.2.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.10.0
Django==4.1.1
django-countries==6.1.3
dtale==2.8.1
entrypoints==0.3
et-xmlfile==1.1.0
feature-engine==1.2.0
Flask-Compress==1.13
flask-ngrok==0.0.25
flatbuffers==1.12
fonttools==4.25.0
formulaic==0.3.4
gast==0.4.0
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gower==0.0.5
grpcio==1.46.3
htmlmin==0.1.12
ImageHash==4.3.0
inflection==0.5.1
interface-meta==1.3.0
kaleido==0.2.1
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.1
lifelines==0.27.0
llvmlite==0.37.0
locket==0.2.1
Markdown==3.3.7
missingno==0.4.2
mkl-fft==1.3.1
mkl-service==2.4.0
mlxtend==0.19.0
mpmath==1.2.1
multimethod==1.8
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.28
navigator-updater==0.2.1
nltk==3.6.5
np-utils==0.6.0
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas-profiling==3.3.0
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
phik==0.12.2
Pillow==8.4.0
pkginfo==1.7.1
plotly==5.10.0
ply==3.11
protobuf==3.19.4
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.9.2
pydeck==0.7.1
pyls-spyder==0.4.0
Pympler==1.0.1
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==228
PyYAML==6.0
requests-oauthlib==1.3.1
rich==12.4.4
rsa==4.8
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.120553
semver==2.13.0
simplegeneric==0.8.1
sip==4.19.13
sklearn==0.0
smart-open==6.0.0
smmap==5.0.0
Sphinx==4.2.0
sqlparse==0.4.3
squarify==0.4.3
statsmodels==0.13.2
streamlit==1.10.0
strsimpy==0.2.1
tables==3.6.1
tangled-up-in-unicode==0.2.0
TBB==0.2
tenacity==8.1.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.9.4
tzdata==2022.1
tzlocal==4.2
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.20.0
visions==0.7.5
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xarray==2022.6.0
xgboost==1.6.1
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
